<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{.Title}}</title>
        <link href="./../static/style.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <h1 style="text-align: center">{{.Title}}</h1>
            <p>Alat OCR untuk bahasa Jawa yang dilatinkan.</p>
        </div>
        <div class="upload-container">
            <label for="fileInput" class="upload-area" id="dropArea">
                <div class="upload-icon">📁</div>
                <div class="upload-text">Unggah gambar!</div>
                <input type="file" id="fileInput" accept="image/*" />
            </label>
        </div>
        <div>
            <textarea class="textArea" rows="10" cols="100">
{{.Content}}</textarea
            >
            <a id="link" style="text-align: end" href="#" download
                ><p>Download</p></a
            >
        </div>

        <div id="loading-popup">
            <div class="spinner"></div>
            <div>Sedang diproses. Mohon tunggu...</div>
        </div>

        <script src="./../static/script.js"></script>
    </body>
</html>
